.manufacturing-option{
    border-bottom: 2px #fff solid;
}
.manuf-body-1{
    display: flex;
    flex-direction: row;
}
.manuf-body-2{
    display: flex;
    flex-direction: row;
}
.input{
    margin: 10px 20px 10px 10px;
}
.manuf-tests{
    margin: 5px 70px 0px 90px;
}
tr{
    height: 40px;
    text-align: left;
}
.manuf-test-name{
    margin-left: 15px;
}
.results-list{
    width: 385px;
    height: 415px;
    margin: 15px 0px 0px 0px;
    padding: 5px;
}
.results-list li{
    color: var(--darker-text);
}